
.name{
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    margin: 5px;
    color: white;
    font-family:Snell Roundhand, cursive;
}
a:active {
    color:white;
}

.card {
    background-color: white;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    text-align: center;

}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
}
body{
    /* background:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(120,120,194,1) 54%, rgba(0,212,255,1) 100%);*/
    background-image: url("chuttersnap-gts_Eh4g1lk-unsplash.jpg");
    background-size: cover;
    width:100%;
}